.units {
    position: relative;
    text-align: center;
    width: 100%;
    flex-grow: 1;
	width: max-content;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	pointer-events: none;
	padding: 0 10px;
}

.units > * {
	font-family: "EB Garamond";
    font-size: 32px;
    font-weight: bold;
	background-image: url("../assets/logo_background7.jpg");
    background-size: 100% 100%;
	-webkit-background-clip: text;
	color: transparent;
	overflow: hidden;
}

.units > :last-child {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 32px;
    left: 0;
    right: 0;
    text-align: center;
	transform: rotatex(180deg) translatey(15px);
    --gradient: linear-gradient(transparent 50%, white 90%);
	-webkit-mask-image: var(--gradient);
	mask-image: var(--gradient);
}
.units > :first-child {
    margin-top: -6px;
}